@font-face {
    font-family: 'Eina 02';
    src: url('../fonts/Eina02-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.otf') format('otf');
}

* {
    font-family: 'Eina 02'!important;
}

.calender-mobile {
    display: none;
}