.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-image: url("./assests/images/Bg.svg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  padding: 0 15% 0 10%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

button {
  width: 30%;
  background: linear-gradient(134.01deg, #B33BF6 -23.61%, #F15223 59.07%, #FF844C 103.79%);
  border: none;
  border-radius: 12px;
  outline-style: none;
  color: #fff;
}

input {
  width: 60%;
  border-radius: 12px;
  border: none;
  outline-style: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  border: 2px solid #FE7944;
}

.wishlist {
  margin-top: 80px;
}

.wishlist-mobile {
  display: none;
}

.loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:disabled, button[disabled] {
  border: 1px solid #999999;
  background: #a0a0a0!Important;
  color: #f24703;
}