.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-image: url("./assests/images/Bg.svg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15% 0 10%;
  align-items: center;
  color: white;
}

button{
  width: 30%;
  background: linear-gradient(134.01deg, #B33BF6 -23.61%, #F15223 59.07%, #FF844C 103.79%);
  border: none;
  border-radius: 12px;
  outline-style: none;
  color: #fff;
}



input{
  width: 60%;
  border-radius: 12px;
  border: none;
  outline-style: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
